{% extends "userLayout.html" %}

{% block body %}
<!--HISTORIAL VIAJES-->
<div class="col-auto container-fluid">
    <h1 class="text-center">Historial Viajes</h1>
    <div class="mb-1 container">
        <table class="table mx-auto w-100 " >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ciudad Origen</th>
                    <th scope="col">Ciudad Destino</th>
                    <th scope="col">Fecha Viaje</th>
                    <th scope="col">Estado</th>
                    </tr>
            </thead>
            <tbody>
                
                          
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

